.loading-wrapper{
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 1000;
  border: 1px solid red;
}
.loading-wrapper .loader{
  z-index: 101;
}
.loading-cover{
  content: "Loading";
  text-align: center;
  vertical-align: middle;
  margin: auto;
  height: 100%;
  line-height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

